@import 'common';

header,
article,
footer {
  width: rem(2328);
  margin: 0 auto;
}
.hide {
  opacity: 0;
}
.tran {
  transform: translate3d(0,rem(50),0);
  transition:all .8s linear;
}
.show {
  opacity: 1;
  transform: translate3d(0,0,0);
}
$i: 10;
@while $i > 0 {
  .de-0#{$i} { 
    transition-delay: $i * 3s * 0.1;
  }
  $i: $i - 1;
}
header {
  height : rem(310);
  display: flex;
  justify-content: space-between;
  img {
    width: rem(254);
    height: rem(104);
    cursor: pointer;
    margin-top: rem(147);
  }
  ul {
    display: flex;
    margin-top: rem(190);
    li {
      font-size: rem(24);
      margin-right: rem(50);
      line-height: 1;
      cursor: pointer;
      &:last-child{
        margin: 0;
      }
      font-family: 'MostardesignRegular';
      &.active {
        font-family: 'MostardesignBold';
        font-weight: bold;
      }
    }
  }
}
article > section {
  justify-content: space-between;
  width: 100%;
  display: flex;
  h2,h3,p {
    white-space: pre-line;
  }
  h2 {
    font-family: 'MostardesignBold';
    font-size: rem(60);
    line-height: 1.2;
  }
  h3 {
    font-family: 'MostardesignRegular';
    font-size: rem(40);
  }
  p{
    font-size: rem(40);
    font-family: 'PingFang';
  }
  &.silde01 {
    height: rem(1094);
    .silde-01-left {
      h2 {
        font-size: rem(60);
        margin-top: rem(600);
        span {
          font-size: rem(80);
          display: block;
          margin-bottom: rem(25);
        }
      }
    }
    p {
      font-size: rem(48);
      margin-top: rem(180);
    }
    .silde-01-right {
      img {
        width: rem(1530);
        height: rem(1094);
      }
    }
  }
  &.silde02 {
    height: rem(1645);
    margin-top: rem(230);
    .silde-02-left {
      img {
        width: rem(734);
        height: rem(1096);
      }
    }
    .silde-02-center {
      section {
        p {
          margin-top: rem(120);
        }
      }
      > h3 {
        margin-top: rem(1270);
      }
    }
    .silde-02-right {
      img {
        margin-top: rem(549);
        width: rem(734);
        height: rem(1096);
      }
    }
  }
  &.silde03 {
    height: rem(1094);
    margin-top: rem(320);
    .silde-03-left {
      img {
        width: rem(1530);
        height: rem(1094);
      }
    }
    .silde-03-right {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      h2 {
        margin-top: rem(720);
        text-align: right;
      }
      p {
        margin-top: rem(180);
      }
    }
  }
  &.silde04 {
    height: rem(1550);
    margin-top: rem(320);
    .silde-04-left {
      img {
        width: rem(738);
        height: rem(738);
        margin-top: rem(400);
      }
    }
    .silde-04-right {
      img {
        &:nth-child(1) {
          width: rem(1530);
          height: rem(734);
        }
      }
      h2 {
        margin-top: rem(410);
      }
      p {
        margin-top: rem(200);
      }
    }
  }
  &.silde05 {
    height: rem(1094);
    margin-top: rem(320);
    .silde-05-left {
      width: rem(1530);
      height: rem(1094);
      img {
        width: rem(1530);
        height: rem(1094);
      }
    }
    .silde-05-right {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      h2 {
        text-align: right;
        margin-top: rem(720);
      }
      p {
        margin-top: rem(180);
      }
    }
  }
  &.silde06 {
    height: rem(1214);
    margin-top: rem(350);
    .silde-06-left {
      margin-left: rem(590);
      img {
        width: rem(736);
        height: rem(736);
      }
    }
    .silde-06-right {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      img {
        &:nth-child(1) {
          width: rem(736);
          height: rem(736);
        }
      }
      h2 {
        text-align: right;
        margin-top: rem(90);
      }
      p {
        margin-top: rem(200);
      }
    }
  }
  &.silde07 {
    height: rem(1094);
    margin-top: rem(230);
    .silde-07-left {
      width: rem(1530);
      height: rem(1094);
      img {
        width: rem(1530);
        height: rem(1094);
      }
    }
    .silde-07-right {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      h2 {
        text-align: right;
        margin-top: rem(730);
      }
      p {
        margin-top: rem(170);
      }
    }
  }
}
footer {
  margin-top: rem(260);
  margin-bottom: rem(270);
  font-size: rem(32);
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: rem(30);
  font-family: 'PingFang';
  &:before {
    position: absolute;
    content : '';
    background: #272727;
    width: rem(350);
    top: 0;
    left: 0;
    height: rem(8);
  }
}
.about01 {
  img {
    width: 100%;
    height: rem(470);
  }
}
.about02 {
  margin-top: rem(160);
  .about02-left {
    min-width: rem(740);
    h2 {
      span {
        font-size: rem(80);
        display: block;
      }
    }
    h3 {
      font-size: rem(60);
      margin-top: rem(20);
      font-family: 'MostardesignBold';
    }
  }
  .about02-center {
    p,h4 {
      font-size: rem(24);
      font-family: 'MostardesignRegular';
      white-space: pre-line;
    }
    h4 {
      font-weight: bold;
      margin-top: rem(30);
    }
    min-width: rem(450);
  }
  .about02-right {
    p {
      font-size: rem(24);
      font-family: 'PingFang';
      span {
        font-family: 'MostardesignBold';
      }
      > b {
        font-family: 'MostardesignBold';
      }
    }
  }
}